
@font-face{
	src:url("fonts/Gideon_Roman/GideonRoman-Regular.ttf");
	font-family:font1;
		
}

/*Testing*/
body{
    background-color:#333333;
    opacity: 1;
	padding-bottom:0px;
	
}
.Title {
    color: white;
	position: absolute;
    margin-left:170px;
    margin-top:76px;
	font-size: 58px;
	font-family:sans-serif;
	}
    

.Logo{
    height: 120px;
    width: 124px;
	border-style:solid;
	border-image:url("https://i.postimg.cc/85hhjLWr/1920px-Lilyu-Crying-svg.png";);
}
	
	/*Creating a video and meun bar bpx*/
	/*Put the Sticky Property under ul-tag*/

#Introdution .Video{
	-border-color:red;
	-border-style:solid;
	overflow:hidden;
	margin:100px 0px 0px 0px;
	padding:140px 0px 580px;
	-position:relative;
	
}


 .clips{
	border-style:solid;
	border-color:black;
	padding-bottom:587px;
	margin-top:5px;
	color:white;	
}


.Meun{
	-border-style:solid;
	-border-color:aqua;
	-padding-bottom:200px;
	padding-right:100px;
	position:absolute;
	right:10px;
	top:320px;
	height:1300px;
}

/*Creating the Bar Meun

#Menu-Bar .Meun{
	border-color:fuchsia;
	border-style:solid;
	margin-top:100px;
	padding-bottom:50px;
	margin-left:580px;
	position:relative;
}

.Meun{
	height:100px;
}
--*/

ul{
	position: absolute;
	position:sticky;
	top:0px;
	
}


li{
	float:left;
	margin-left:65px;
	text-align:center;
	list-style-type:none; 
	font-size:21px;
	margin-top:15px;
}

.last-child a:last-child{
	float:right;
	position:absolute;
	padding-left:20px;	
	padding-right:20px;
}

li a{
	text-decoration:none;
	color:white;
	display:block;
	padding: 4px 0px 4px 0px;
}

li a:hover, .dropdown:hover drop{
	background-color:white;
	color:black;
}

.dropdown{
	display:inline-block;
}

.link{
	position:absolute;
	display:none;
	min-width:0px;
	z-index:1;
}

.link a{
	display:block;
	text-decoration: none;
	padding: 6px 1px 6px 1px;	
}

.link a:hover{
	background-color:black;
	color:white;
}

.dropdown:hover .link{
	display:block;
}


/*This section is under Added New Character*/

#NewCharacter{
	-padding-top:310px;
	font-size:36px;
	color:white;
	margin-right:0px;
	padding-bottom:100px;
}

#NewCharacter h2{
	border-bottom-style:solid;
	Padding-right:10px;
	text-align:left;
	font-size:31px;
}

#NewCharacter h3 a{
	color:inherit;
}

#NewCharacter .Character1{
	margin-top:50px;
	
}
/*How clumsy you are, Miss Ueno*/
.Character1{
	-border-style:solid;
	position: relative;
	border-bottom-style:solid;
}

.Image1{
	width:239px;
	height:234px;
	margin-left:10px;
}

.container{
	border-left-style:solid;
	position: absolute;
	top:0px;
	right:30px;
	margin-left:253px;	
}

.ShowTitle{
	
	font-family:fantasy;
	font-size:23px;
	text-align:center;
	color:white;
}
	
.Description{
	font-family:fantasy;
	font-size:18px;
	margin-left:100px;
	padding-bottom:0px;
	line-height:50px;
	color:white;	
	}


/*Free! anime show*/
.Character2{
	border-bottom-style:solid;
	padding-top:265px;
	position: relative;	
}

.image2{
	width:239px;
	height:234px;
	margin-left:10px;
	position:absolute;
	top:20px;
}

.container3{
	border-left-style:solid;
	position:absolute;
	top:0px;
	right:30px;
	margin-left:253px; 
	margin-top:20px;
	height:236px;
}

.Description2{
	font-family:fantasy;
	color:white;
	margin-left:100px;
	line-height:30px;
	font-size:18px;
}

/*JoJo Bizarre Adventure*/
.Character3{
	border-bottom-style:solid;
	padding-bottom:10px;
	position:relative;
	
}

.image3{
	width:239px;
	height:234px;
	margin-top:20px;
}

.container4{
	border-left-style:solid;
	right:30px;
	position: absolute;
	top:20px;
	font-family: fantasy;
	font-size:18px;
	margin-left:250px;
	height:246px;
}
	
.Description3{
	margin-left:100px;
	color:white;
}

/* Social Media onthe sidebar*/
#Social-media-link{
	margin-top:1480px;
	right:10px;
	top:0px;
	position:absolute;
	height:1440px;	
	-background-color:red;
	
}


.Box{
	-background-color:aquamarine;
	top:290px;
	position:sticky;
}

.Media-Logo{
	height:30px;
	-position:relative;
	Left:0px;
	-padding:1px;
}




div a:active{
	-background-color:#2B78E4;
	padding-top:35px;
	opacity:21%;	
}



#AboutPage{
	-border-style:solid;
	height:225px;
	margin-top:200px;
	position:relative;
	color:white;
	padding-bottom:30px;
}

.container5{
	border-top-style:solid;
	border-color:black;	
	position:absolute;
	border-width: 6px;
	padding-bottom:0px;
	
}

.container5 h3{
	font-size:24px;
	position:absolute;
	top:0px;
	font-family:font1;
	text-decoration:underline;
}

.container5 p{
	font-size:20px;
	line-height:42px;
	margin-top:100px;
	font-family:font1;
}

#referece{
	background-color:black;
	padding-bottom:15px;
}

#referece h5{
	color:white;
	margin-left:0px;
	text-align:center;
	text-decoration:underline;
}

#referece p{
	color:white;
}

