
@font-face{
font-family:'fontName';
src:url("fonts/Signika_Negative/static/SignikaNegative-Regular.ttf");
}
@font-face{
	font-family:'Comfortaa-Medium';
	src:url("fonts/Comfortaa/static/Comfortaa-Medium.ttf")
}

/*Testing*/
body{
    background-color:#333333;
	padding:0px 0px 0px 0px;
	background-image:url("Image/HomePage Image/background_anime.gif");
	background-repeat:no-repeat;
	background-blend-mode:overlay;
	background-size: auto;
} 
#Logo{
	//border:solid red;
	//margin:0px 0px 424px 0px;
	padding:0px 0px 424px 0px;
}
#Logo a{
	//border:solid red;
	margin:0px;
	padding:0px 0px 500px 0px;
	color:white;
	text-decoration:none;
}
#Logo header{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width:85%;
	//border:solid green;
}
#Logo header h1{
	margin:115px 0px 0px 20px;
	padding:0px;
	font-size:48px;
	color:white;
	font-family:'Trying';	
}
#Logo .logo-image{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:15%;
	//border:solid yellow;
}
#Logo .logo-image img{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}

#top-bar-menu{
	padding:0px;
	margin:0px 20px 239px 20px;
	//border:solid green;
}
#top-bar-menu .menu{
	margin:0px 50px 0px 50px;
	padding:0px 0px 0px 0px;
	//border:solid yellow;
	background-color: black;
}
#top-bar-menu .menu div{
	display:inline-block;
	border-right:solid white 8px;
	border-left:solid white 8px;
	margin:0px;
	padding:0px;
	width:250px;
}

#top-bar-menu .menu div:hover{
	display:inline-block;
	margin:0px 0px 0px 0px;
	padding:0px;
	width:246px;
	opacity:75%;
	width:250px;
	
}
#top-bar-menu .menu div h2{
	margin:23px 0px 23px 0px;
	padding:0px;
	font-size:24px;
	text-align:center;
	font-family:sans-serif;
}
#top-bar-menu .menu div a{
	color:white;
	text-decoration:none;
}
#Youtube-Video{
	padding:0px;
	margin:0px 0px 0px 0px;
	//border:solid red;
	position: relative;
}
#Youtube-Video div{
	padding:0px 0px 0px 0px;
	margin:0px 68px 0px 68px;
	//border:solid blue;
}
#Youtube-Video div video{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
#Youtube-Video .youtube-source{
	margin:0px 68px 0px 68px;
	padding:0px;
	//border:solid green;
}
.youtube-source p{
	margin:3px 6px 3px 6px;
	padding:0px;
	//border:solid red;
	text-align:right;
	font-size:18px;
	font-family:'Comfortaa-Medium';
}
.youtube-source p a{
	color:white;
}
.youtube-source p a:hover{
	opacity: 65%;
	color:#2B78E4;
}
#About-Page{
	margin:364px 0px 0px 0px;
	padding:0px;
	//border:solid red;
}
#About-Page header{
	margin:0px 23px 5px 23px;
	padding:0px;
	//border:solid green;
}
#About-Page header h2{
	margin:0px 0px 0px 0px;
	padding:13px 0px 13px 0px;
	background-color:black;
	text-align:center;
	font-size:36px;
	color:white;
	font-family:'Comfortaa-Medium';
	letter-spacing:12px;
	
}
#About-Page .About-info{
	margin:36px 23px 925px 23px;
	//padding:0px 0px 935px 0px;
	border:solid blue;
}
#About-Page .About-info .Wikipedia{
	float:left;
	width:83%;
	//border:solid orange;
}
#About-Page .About-info .Wikipedia .Wikipedia-Anime{
	margin:0px;
}
#About-Page .About-info .Wikipedia .Wikipedia-Anime header{
	margin:0px;
	padding:0px;
}
#About-Page .About-info .Wikipedia .Wikipedia-Anime header h3{
	margin:5px 0px 5px 0px;
	padding:0px;
	display:inline-block;
	font-size:28px;
	color:white;
	font-family:sans-serif;
	text-decoration:underline;
}
#About-Page .About-info .Wikipedia .Wikipedia-Anime .Wikipedia-Anime-info{
	margin:0px;
	padding:0px;
	//border:solid red;
}
#About-Page .About-info .Wikipedia .Wikipedia-Anime .Wikipedia-Anime-info p{
	margin:0px;
	padding:0px;
	line-height:29px;
	font-size:21px;
	color:white;
}
#About-Page .About-info .Wikipedia .Wikipedia-Anime .Wikipedia-Anime-info a{
	color:white;
}
#About-Page .About-info .Wikipedia .Wikipedia-Anime .Wikipedia-Anime-info p span a:hover{
	color:#2B78E4;
}
#About-Page .About-info .Wikipedia .Wikipedia-HistoryOfAnime{
	margin:16px 0px 0px 0px;
}
#About-Page .About-info .Wikipedia .Wikipedia-HistoryOfAnime header{
	margin:0px;
	padding:0px;
}
#About-Page .About-info .Wikipedia .Wikipedia-HistoryOfAnime header h3{
	margin:5px 0px 5px 0px;
	padding:0px;
	display:inline-block;
	font-size:28px;
	color:white;
}
#About-Page .About-info .Wikipedia .Wikipedia-HistoryOfAnime .Wikipedia-HistoryOfAnime-info{
	margin:0px;
	padding:0px;
	//border:solid red;
}
#About-Page .About-info .Wikipedia .Wikipedia-HistoryOfAnime .Wikipedia-HistoryOfAnime-info p{
	margin:0px;
	padding:0px;
	line-height:29px;
	font-size:21px;
	color:white;
}
#About-Page .About-info .Wikipedia .Wikipedia-HistoryOfAnime .Wikipedia-HistoryOfAnime-info a{
	color:white;
}
#About-Page .About-info .Wikipedia .Wikipedia-HistoryOfAnime .Wikipedia-HistoryOfAnime-info p span a:hover{
	color:#2B78E4;
}
#About-Page .images{
	float:left;
	width:17%;
	//border:solid orange;
	margin:45px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
#About-Page .images div{
	margin:0px 0px 12px 24px;
	padding:0px 0px 0px 0px;
	//border:solid pink;
	display:block;
}
#About-Page .About-info .images div img{
	max-width:100%;
	height:auto;
	margin:0px;
	padding:0px;
}
#About-Page .About-info .images div img:hover{
	max-width:100%;
	height:auto;
	margin:0px;
	padding:0px 0px 0px 0px;
	opacity:85%;
}
#About-Page .About-info .images div p{
	padding:0px 0px 0px 0px;
	margin:0px 10px 0px 0px;
	//border:solid blue;
	font-size:16px;
	font-family: sans-serif;
	text-align:center;
}
#About-Page .About-info .images div a:hover{
	color:#2B78E4;
}
#About-Page .About-info .images div a{
	color:white;
}

/*--------------------------------------------------*/
/*Attibutes.html file*/
*{
	box-sizing:border-box;
}
#Attributes-page{
	margin:0px 26px 0px 26px;
	padding:0px;
	//border: solid red;
}
.Attributes-info{
	margin:0px 0px 76px 0px;
	padding:0px;
	//border:solid blue;
}
.Attributes-info header{
	margin:0px 0px 36px 0px;
	padding:13px 0px 13px 0px;
	background-color:Black;
}
.Attributes-info header h2{
	font-size:39px;
	color:white;
	padding:0px;
	margin:0px;
	text-align:center;
	font-family:'Comfortaa-Medium';
	letter-spacing:12px;
}
.Attributes-info p{
	margin:0px;
	padding:0px;
	color:white;
	font-size:23px;
	line-height:29px;
	text-align:center;
	text-decoration:underline;
	font-family:sans-serif;
}
.Attributes-info  a{
	color:white
}
.Attributes-info p span a:hover{
	color:#2B78E4;
}
.Technique-info{
	//border:solid blue;
	margin:0px 0px 423px 0px;
	padding:0px 0px 0px 0px;
}
.Technique-info header{
	//border:solid yellow;
	margin:0px 0px 0px 0px;
	padding:0px 400px 0px 0px;
	border-bottom:solid black 6px;
}
.Technique-info header h3{
	margin:0px 650px 0px 0px;
	padding:0px;
	//border:solid pink;
	font-size:32px;
	color:white;
}
.Technique-info .info{
	padding:0px 0px 0px 0px;
	margin:8px 0px 97px 0px;
	//border:solid green;
	float:left;
	width:53%;
	display:block;
}
.Technique-info .info p{
	padding:0px;
	margin:0px 0px 0px 0px;
	color:white;
	font-size:19px;
	line-height:29px;
	font-family:sans-serif;
}
.Technique-info .info p span:hover{
	color:#CF2A27;
}
.Technique-info .images{
	padding:0px;
	margin:8px 0px 0px 0px;
	//border:solid green;
	float:left;
	width:47%;
}
.Technique-info .images div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 117px;
	border:solid black;
	display:inline-block;
}
.Technique-info .images div img{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
.Technique-info .images div a{
	color:white;
	text-decoration:none;
}
.Technique-info .images div p{
	margin:6px 0px 0px 0px;
	padding:0px;
	color:white;
	text-align:center;
	font-size:19px;
	//width:117px;
}
.Technique-info .images div p :hover{
	color:#2B78E4;
}
.Technique-info .images div p:active{
	color:#CF2A27;
}
.Technique-info .images div p span{
	color:#CF2A27;
}
.Characters-info{
	//border:solid blue;
	margin:0px 0px 643px 0px;
	padding:0px 0px 0px 0px;
}
.Characters-info header{
	//border:solid yellow;
	margin:0px 0px 0px 0px;
	padding:0px 400px 0px 0px;
	border-bottom:solid black 6px;
}
.Characters-info header h3{
	margin:0px 650px 0px 0px;
	padding:0px;
	//border:solid pink;
	font-size:32px;
	color:white;
}
.Characters-info .info{
	padding:0px;
	margin:8px 0px 47px 0px;
	//border:solid green;
	float:left;
	width:53%;
	display:block;
}
.Characters-info .info p{
	padding:0px;
	margin:0px 0px 27px 0px;
	color:white;
	font-size:19px;
	line-height:29px;
	font-family:sans-serif;
}
.Characters-info .info p span:hover{
	color:#CF2A27
}
.Characters-info .images{
	padding:0px;
	margin:8px 0px 0px 0px;
	//border:solid green;
	float:left;
	width:47%;
}
.Characters-info .images div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 117px;
	border:solid black;
	display:inline-block;
}
.Characters-info .images div img{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
.Characters-info .images div p{
	margin:6px 0px 0px 0px;
	padding:0px;
	color:white;
	text-align:center;
	font-size:19px;
	//width:117px;
}
.Characters-info .images div a{
	color:white;
	text-decoration:none;
}
.Characters-info .images div p :hover{
	color:#2B78E4;
}
.Characters-info .images div p:active{
	color:#CF2A27;
}
.Characters-info .images div p span{
	color:#CF2A27;
}

.Music-info{
	//border:solid blue;
	margin:0px 0px 268px 0px;
	padding:0px 0px 0px 0px;
}
.Music-info header{
	//border:solid yellow;
	margin:0px 0px 0px 0px;
	padding:0px 400px 0px 0px;
	border-bottom:solid black 6px;
}
.Music-info header h3{
	margin:0px 650px 0px 0px;
	padding:0px;
	//border:solid pink;
	font-size:32px;
	color:white;
	
}
.Music-info .info{
	padding:0px 0px 0px 0px;
	margin:8px 0px 47px 0px;
	//border:solid green;
	float:left;
	width:53%;
	display:block;
}
.Music-info .info p{
	padding:0px;
	margin:0px 0px 0px 0px;
	color:white;
	font-size:19px;
	line-height:29px;
	font-family:sans-serif;
}
.Music-info .info p span:hover{
	color:#CF2A27
}
.Music-info .images{
	padding:0px;
	margin:8px 0px 0px 0px;
	//border:solid green;
	float:left;
	width:47%;
}
.Music-info .images div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 117px;
	border:solid black;
	display:inline-block;
}
.Music-info .images div a{
	color:white;
	text-decoration:none;
}
.Music-info .images div img{
	margin:0px 0px 0px 0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
.Music-info .images div p{
	margin:6px 0px 0px 0px;
	padding:0px;
	color:white;
	text-align:center;
	font-size:19px;
	//width:117px;
}
.Music-info .images div p :hover{
	color:#2B78E4;
}
.Music-info .images div p:active{
	color:#CF2A27;
}
.Music-info .images div p span{
	color:#CF2A27;
}
.Genres-info{
	//border:solid blue;
	margin:0px 0px 890px 0px;
	padding:0px 0px 0px 0px;
}
.Genres-info header{
	//border:solid yellow;
	margin:0px 0px 0px 0px;
	padding:0px 400px 0px 0px;
	border-bottom:solid black 6px;
}
.Genres-info header h3{
	margin:0px 650px 0px 0px;
	padding:0px;
	//border:solid pink;
	font-size:32px;
	color:white;
	
}
.Genres-info .info{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	//border:solid green;
	float:left;
	width:53%;
	display:block;
}
.Genres-info .info p{
	padding:0px;
	margin:8px 0px 0px 0px;
	color:white;
	font-size:19px;
	line-height:29px;
	font-family:sans-serif;
	
}
.Genres-info .info p span:hover{
	color:#CF2A27
}
.Genres-info .images{
	padding:0px;
	margin:8px 0px 0px 0px;
	//border:solid green;
	float:left;
	width:47%;
}
.Genres-info .images div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 117px;
	border:solid black;
	display:inline-block;
}
.Genres-info .images div a{
	color:white;
	text-decoration:none;
}
.Genres-info .images div img{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
.Genres-info .images div p{
	margin:6px 0px 0px 0px;
	padding:0px;
	color:white;
	text-align:center;
	font-size:19px;
	//width:117px;
}
.Genres-info .images div p :hover{
	color:#2B78E4;
}
.Genres-info .images div p:active{
	color:#CF2A27;
}
.Genres-info .images div p span{
	color:#CF2A27;
}
/*Reference section*/
#Reference{
	padding:0px;
	margin:0px 0px 0px 0px;
	//border:solid red;
}
#Reference header{
	margin:0px;
	padding:0px;
	//border:solid blue;
	border-bottom:solid black 6px;
}
#Reference header h2{
	margin:0px 0px 0px 0px;
	padding:0px;
	text-align:center;
	//border:solid pink;
	font-size:27px;
	font-weight:800;
	letter-spacing:15px;
	color:white;
}
.reference-info{
	margin:0px 0px 0px 0px;
	padding:0px;
	//border:solid yellow;
}
.reference-info .refer1{
	display:inline-block;
	//border:solid green;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.reference-info .refer1 a{
	color:white;
	text-decoration:none;
}
.reference-info .refer1 p{
	margin:0px 0px 0px 0px;
	padding:0px;
	//width:500px;
	//line-height: 26px;
	//font-size:16px;
}
.reference-info .refer2{
	display:inline-block;
	//border:solid green;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px 0px;
}
.reference-info .refer2 p{
	margin:0px 0px 0px 0px;
	padding:0px;
	//width:500px;
	//line-height:0px;
	//font-size:16px;
}
.reference-info .refer2 a{
	color:white;
	text-decoration:none;
}

/*--------------------------------------------------*/
/*Industry.html file*/
*{
	box-sizing:border-box;
}
#Industry-page{
	margin:0px 26px 0px 26px;
	padding:0px;
	//border: solid red;
}
.Industry-info{
	margin:0px 0px 76px 0px;
	padding:0px;
	//border:solid blue;
}
.Industry-info header{
	margin:0px 0px 36px 0px;
	padding:13px 0px 13px 0px;
	background-color:Black;
}
.Industry-info header h2{
	font-size:39px;
	color:white;
	padding:0px;
	margin:0px;
	text-align:center;
	font-family:'Comfortaa-Medium';
	letter-spacing:12px;
}
.Industry-info p{
	margin:0px;
	padding:0px;
	color:white;
	font-size:23px;
	line-height:29px;
	text-align:center;
	text-decoration:underline;
	font-family:sans-serif;
}
.Industry-info  a{
	color:white
}
.Industry-info p span a:hover{
	color:#2B78E4;
}
.Markets-info{
	//border:solid blue;
	margin:0px 0px 546px 0px;
	//padding:0px 0px 546px 0px;
}
.Markets-info header{
	//border:solid yellow;
	margin:0px 0px 0px 0px;
	padding:0px 400px 0px 0px;
	border-bottom:solid black 6px;
}
.Markets-info header h3{
	margin:0px 650px 0px 0px;
	padding:0px;
	//border:solid pink;
	font-size:32px;
	color:white;
}
.Markets-info .info{
	padding:0px 0px 0px 0px;
	margin:8px 0px 97px 0px;
	//border:solid green;
	float:left;
	width:53%;
	display:block;
}
.Markets-info .info p{
	padding:0px;
	margin:0px 0px 0px 0px;
	color:white;
	font-size:19px;
	line-height:29px;
	font-family:sans-serif;
}
.Markets-info .info p a{
	color:white;
	text-decoration:none;
}

.Markets-info .info p span:hover{
	color:#CF2A27;
}
.Markets-info .images{
	padding:0px;
	margin:8px 0px 0px 0px;
	//border:solid green;
	float:left;
	width:47%;
}
.Markets-info .images div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 278px;
	border:solid black;
	display:inline-block;
}
.Markets-info .images div img{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
.Markets-info .images div a{
	color:white;
	text-decoration:none;
}
.Markets-info .images div p{
	margin:6px 0px 0px 0px;
	padding:0px;
	color:white;
	text-align:center;
	font-size:19px;
	//width:117px;
}
.Markets-info .images div p :hover{
	color:#2B78E4;
}
.Markets-info .images div p:active{
	color:#CF2A27;
}
.Markets-info .images div p span{
	color:#CF2A27;
}

/*Reference section*/
#Industry-Reference{
	padding:0px;
	margin:0px 0px 0px 0px;
	border:solid red;
}
#Industry-Reference header{
	margin:0px;
	padding:0px;
}
#Industry-Reference header h2{
	margin:0px 650px 0px 0px;
	padding:0px;
	text-align:center;
	//border:solid pink;
	font-size:27px;
	font-weight:800;
	letter-spacing:15px;
	color:white;
}