
@font-face{
src:url("fonts/Gideon_Roman/GideonRoman-Regular.ttf";);
	font-family:font1;		
}

/*Testing*/
body{
    background-color:#333333;
    opacity: 1;
	padding:0px 0px 0px 0px;
	
}
#Logo{
	//border:solid red;
	margin:0px 0px 0px 0px;
	padding:0px 0px 500px 0px;
}
#Logo a{
	//border:solid red;
	margin:0px;
	padding:0px 0px 500px 0px;
	color:white;
	text-decoration:none;
}
#Logo header{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width:85%;
	//border:solid green;
}
#Logo header h1{
	margin:115px 0px 0px 20px;
	padding:0px;
	font-size:48px;
	color:white;
	
}
#Logo .logo-image{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:15%;
	//border:solid yellow;
}
#Logo .logo-image img{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}

#top-bar-menu{
	padding:0px;
	margin:0px 20px 38px 20px;
	//border:solid green;
}
#top-bar-menu .menu{
	margin:0px 21px 0px 21px;
	padding:0px 0px 0px 0px;
	//border:solid yellow;
	border-bottom:solid black 4px;
}
#top-bar-menu .menu div{
	display:inline-block;
	border:solid black 4px;
	border-bottom:none;
	margin:0px 0px 0px 106px;
	padding:0px;
	width:246px;
}
#top-bar-menu .menu div:hover{
	display:inline-block;
	margin:0px 0px 0px 106px;
	padding:0px;
	width:246px;
	opacity:75%;
	background-color:black;
	
}
#top-bar-menu .menu div h2{
	margin:23px 0px 23px 0px;
	padding:0px;
	font-size:24px;
	text-align:center;
}
#top-bar-menu .menu div a{
	color:white;
	text-decoration:none;
}
#Youtube-Video{
	padding:0px;
	margin:0px 0px 0px 0px;
	border:solid red;
	position: relative;
}
#Youtube-Video div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 68px;
	border:solid blue;
}
#Youtube-Video div video{
	margin:0px 0px 0px 0px;
	padding:0px;
	max-width:100%;
	height:auto;
}

.youtube-source p{
	margin:0px;
	padding:0px;
	border:solid red;
	text-align:right;
}

/*--------------------------------------------------*/
/*Attibutes Page*/
*{
	box-sizing:border-box;
}
#Attributes-page{
	margin:0px 26px 0px 26px;
	padding:0px;
	//border: solid red;
}
.Attributes-info{
	margin:0px 0px 36px 0px;
	padding:0px;
	//border:solid blue;
}
.Attributes-info header{
	margin:0px 0px 36px 0px;
	padding:13px 0px 13px 0px;
	background-color:Black;
}
.Attributes-info header h2{
	font-size:39px;
	color:white;
	padding:0px;
	margin:0px;
	text-align:center;
}
.Attributes-info p{
	margin:0px;
	padding:0px;
	color:white;
	font-size:23px;
	line-height:29px;
	text-align:center;
	text-decoration:underline;
}
.Attributes-info  a{
	color:white
}
.Attributes-info p span a:hover{
	color:#2B78E4;
}
.Technique-info{
	//border:solid blue;
	margin:0px 0px 423px 0px;
	padding:0px 0px 0px 0px;
}
.Technique-info header{
	//border:solid yellow;
	margin:0px 0px 0px 0px;
	padding:0px 400px 0px 0px;
	border-bottom:solid black 6px;
}
.Technique-info header h3{
	margin:0px 650px 0px 0px;
	padding:0px;
	//border:solid pink;
	font-size:32px;
}
.Technique-info .info{
	padding:0px 0px 0px 0px;
	margin:0px 0px 97px 0px;
	//border:solid green;
	float:left;
	width:53%;
	display:block;
}
.Technique-info .info p{
	padding:0px;
	margin:0px 0px 0px 0px;
	color:white;
	font-size:19px;
	line-height:29px;
}
.Technique-info .info p span:hover{
	color:#CF2A27
}
.Technique-info .images{
	padding:0px;
	margin:0px 0px 0px 0px;
	border:solid green;
	float:left;
	width:47%;
}
.Technique-info .images div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 117px;
	border:solid pink;
	display:inline-block;
}
.Technique-info .images div img{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
.Technique-info .images div a{
	color:white;
	text-decoration:none;
}
.Technique-info .images div p{
	margin:6px 0px 0px 0px;
	padding:0px;
	color:white;
	text-align:center;
	font-size:19px;
	//width:117px;
}
.Technique-info .images div p :hover{
	color:#2B78E4;
}
.Technique-info .images div p:active{
	color:#CF2A27;
}
.Technique-info .images div p span{
	color:#CF2A27;
}
.Characters-info{
	//border:solid blue;
	margin:0px 0px 643px 0px;
	padding:0px 0px 0px 0px;
}
.Characters-info header{
	//border:solid yellow;
	margin:0px 0px 0px 0px;
	padding:0px 400px 0px 0px;
	border-bottom:solid black 6px;
}
.Characters-info header h3{
	margin:0px 650px 0px 0px;
	padding:0px;
	//border:solid pink;
	font-size:32px;
}
.Characters-info .info{
	padding:0px;
	margin:0px 0px 47px 0px;
	//border:solid green;
	float:left;
	width:53%;
	display:block;
}
.Characters-info .info p{
	padding:0px;
	margin:0px 0px 27px 0px;
	color:white;
	font-size:19px;
	line-height:29px;
}
.Characters-info .info p span:hover{
	color:#CF2A27
}
.Characters-info .images{
	padding:0px;
	margin:0px 0px 0px 0px;
	border:solid green;
	float:left;
	width:47%;
}
.Characters-info .images div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 117px;
	border:solid pink;
	display:inline-block;
}
.Characters-info .images div img{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
.Characters-info .images div p{
	margin:6px 0px 0px 0px;
	padding:0px;
	color:white;
	text-align:center;
	font-size:19px;
	//width:117px;
}
.Characters-info .images div a{
	color:white;
	text-decoration:none;
}
.Characters-info .images div p :hover{
	color:#2B78E4;
}
.Characters-info .images div p:active{
	color:#CF2A27;
}
.Characters-info .images div p span{
	color:#CF2A27;
}

.Music-info{
	//border:solid blue;
	margin:0px 0px 268px 0px;
	padding:0px 0px 0px 0px;
}
.Music-info header{
	//border:solid yellow;
	margin:0px 0px 0px 0px;
	padding:0px 400px 0px 0px;
	border-bottom:solid black 6px;
}
.Music-info header h3{
	margin:0px 650px 0px 0px;
	padding:0px;
	//border:solid pink;
	font-size:32px;
}
.Music-info .info{
	padding:0px 0px 0px 0px;
	margin:0px 0px 47px 0px;
	//border:solid green;
	float:left;
	width:53%;
	display:block;
}
.Music-info .info p{
	padding:0px;
	margin:0px 0px 0px 0px;
	color:white;
	font-size:19px;
	line-height:29px;
}
.Music-info .info p span:hover{
	color:#CF2A27
}
.Music-info .images{
	padding:0px;
	margin:0px 0px 0px 0px;
	border:solid green;
	float:left;
	width:47%;
}
.Music-info .images div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 117px;
	border:solid pink;
	display:inline-block;
}
.Music-info .images div a{
	color:white;
	text-decoration:none;
}
.Music-info .images div img{
	margin:0px 0px 0px 0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
.Music-info .images div p{
	margin:6px 0px 0px 0px;
	padding:0px;
	color:white;
	text-align:center;
	font-size:19px;
	//width:117px;
}
.Music-info .images div p :hover{
	color:#2B78E4;
}
.Music-info .images div p:active{
	color:#CF2A27;
}
.Music-info .images div p span{
	color:#CF2A27;
}
.Genres-info{
	//border:solid blue;
	margin:0px 0px 890px 0px;
	padding:0px 0px 0px 0px;
}
.Genres-info header{
	//border:solid yellow;
	margin:0px 0px 0px 0px;
	padding:0px 400px 0px 0px;
	border-bottom:solid black 6px;
}
.Genres-info header h3{
	margin:0px 650px 0px 0px;
	padding:0px;
	//border:solid pink;
	font-size:32px;
}
.Genres-info .info{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	//border:solid green;
	float:left;
	width:53%;
	display:block;
}
.Genres-info .info p{
	padding:0px;
	margin:0px 0px 0px 0px;
	color:white;
	font-size:19px;
	line-height:29px;
}
.Genres-info .info p span:hover{
	color:#CF2A27
}
.Genres-info .images{
	padding:0px;
	margin:0px 0px 0px 0px;
	border:solid green;
	float:left;
	width:47%;
}
.Genres-info .images div{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 117px;
	border:solid pink;
	display:inline-block;
}
.Genres-info .images div a{
	color:white;
	text-decoration:none;
}
.Genres-info .images div img{
	margin:0px;
	padding:0px;
	max-width:100%;
	height:auto;
}
.Genres-info .images div p{
	margin:6px 0px 0px 0px;
	padding:0px;
	color:white;
	text-align:center;
	font-size:19px;
	//width:117px;
}
.Genres-info .images div p :hover{
	color:#2B78E4;
}
.Genres-info .images div p:active{
	color:#CF2A27;
}
.Genres-info .images div p span{
	color:#CF2A27;
}
/*Reference section*/
#Reference{
	padding:0px;
	margin:0px 0px 0px 0px;
	//border:solid red;
}
#Reference header{
	margin:0px;
	padding:0px;
	//border:solid blue;
	border-bottom:solid black 6px;
}
#Reference header h2{
	margin:0px 0px 0px 0px;
	padding:0px;
	text-align:center;
	//border:solid pink;
	font-size:27px;
	font-weight:800;
	letter-spacing:15px;
	color:white;
}
.reference-info{
	margin:0px 0px 0px 0px;
	padding:0px;
	//border:solid yellow;
}
.reference-info .refer1{
	display:inline-block;
	//border:solid green;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.reference-info .refer1 a{
	color:white;
	text-decoration:none;
}
.reference-info .refer1 p{
	margin:0px 0px 0px 0px;
	padding:0px;
	//width:500px;
	//line-height: 26px;
	//font-size:16px;
}
.reference-info .refer2{
	display:inline-block;
	//border:solid green;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px 0px;
}
.reference-info .refer2 p{
	margin:0px 0px 0px 0px;
	padding:0px;
	//width:500px;
	//line-height:0px;
	//font-size:16px;
}
.reference-info .refer2 a{
	color:white;
	text-decoration:none;
}